<div class="container mx-auto w-1/2 pt-9">
  <h2
    class="mb-4 text-center text-4xl font-extrabold leading-none tracking-tight text-gray-900 md:text-5xl lg:text-6xl dark:text-white"
  >
    Add quiz
  </h2>
  <br />
  <form [formGroup]="formData">
    <div class="mb-6">
      <label
        for="quiz-name"
        class="block mb-2 text-sm font-medium text-gray-900 dark:text-gray-900"
        >QUIZ NAME</label
      >
      <input
        type="text"
        id="quiz-name"
        formControlName="quizName"
        class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500 w-96"
      />
    </div>

    <div class="mb-6">
      <label
        for="questions"
        class="block mb-2 text-sm font-medium text-gray-900 dark:text-gray-900"
        >QUESTIONS</label
      >
      <button
        type="button"
        (click)="addInputField()"
        class="text-white bg-gradient-to-r from-teal-400 via-teal-500 to-teal-600 hover:bg-gradient-to-br focus:ring-4 focus:outline-none focus:ring-teal-300 dark:focus:ring-teal-800 font-medium rounded-lg text-sm px-5 py-2.5 text-center mr-2 mb-2"
      >
        <svg
          xmlns="http://www.w3.org/2000/svg"
          height="1em"
          viewBox="0 0 448 512"
        >
          <path
            d="M256 80c0-17.7-14.3-32-32-32s-32 14.3-32 32V224H48c-17.7 0-32 14.3-32 32s14.3 32 32 32H192V432c0 17.7 14.3 32 32 32s32-14.3 32-32V288H400c-17.7 0-32-14.3-32-32s14.3 32 32-32H256V80z"
          />
        </svg>
      </button>
    </div>

    <div formArrayName="questions">
      <div
        *ngFor="let inputField of questionsArray.controls; let i = index"
        class="mb-6"
      >
        <input
          type="text"
          [id]="'question-input-' + i"
          [formControlName]="i"
          class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500 w-96"
        />
      </div>
    </div>

    <label
      for="selectQuestion"
      class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"
      >SELECT QUESTION</label
    >
    <select
      id="selectQuestion"
      formControlName="selectedQuestionId"
      (change)="selectQuestion($event)"
      class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
    >
      <option
        *ngFor="let question of SelectListQ"
        [value]="question.question_id"
      >
        {{ question.text }}
      </option>
    </select>
    <br />
    <button
      type="button"
      (click)="saveForm()"
      class="text-white bg-gradient-to-r from-teal-400 via-teal-500 to-teal-600 hover:bg-gradient-to-br focus:ring-4 focus:outline-none focus:ring-teal-300 dark:focus:ring-teal-800 font-medium rounded-lg text-sm px-5 py-2.5 text-center mr-2 mb-2"
    >
      Save Quiz
    </button>
  </form>
</div>
